<%- model_class = Answer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:resposta_palestra) %></th>
      <th><%= model_class.human_attribute_name(:resposta_coach) %></th>
      <th><%= model_class.human_attribute_name(:resposta_local) %></th>
      <th><%= model_class.human_attribute_name(:observacao) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.resposta_palestra %></td>
        <td><%= answer.resposta_coach %></td>
        <td><%= answer.resposta_local %></td>
        <td><%= answer.observacao %></td>
        <td><%=l answer.created_at, format: :short %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_answer_path,
            :class => 'btn btn-primary' %>
